*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.background{
    background-color: rgb(0, 0, 0, 0.6);
}

@media screen and (max-width: 320px) {
    .get-started input{} 
}

#em::placeholder{
    color: white;
}

.hir{
    z-index: 2;
    border-top: 8px solid grey;
}

.backi{
    background-color: black;
    z-index: -3;
    
}

footer h6{
    text-decoration: underline;
}

.faq ul li{
    list-style: none;
    font-weight: 400;
}

.faq ul li a{
    color: grey;
    border-bottom: 1px solid grey;
    text-decoration: none; 
}
